h1{
    color: rgb(9, 56, 87);
    font-size: 5em;
  }
  
section{
    color: rgb(4, 12, 15);
}

body{
    background-image: url("./colombia.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}